* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.interactive-city {
  width: 100%;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: start;
  background: black;
}
.image-wrapper {
  width: 60%;
  max-width: 820px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
  position: relative;
}
img {
  width: 100%;
  display: block;
  position: relative;
}
.area-container {
  display: block;
  width: 40%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 50px;
}

.area-container img {
  width: 90%;
  object-fit: cover;
}
.wharf-overlay {
  background: rgba(193, 66, 66, 0.4);
  display: block;
  position: absolute;
  left: 1rem;
  bottom: 0%;
  width: 64%;
  height: 40%;
}
.wharf-overlay:hover ~ .wharf-content {
  display: block;
}
.wharf-content {
  position: absolute;
  width: 62%;
  /* max-width: 720px; */
  left: 100%;
  top: 0;
}
h3 {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: orangered;
}
h5 {
  color: white;

  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.15;
}
p {
  color: white;
  font-family: sans-serif;
}
